In [ ]:
book = {
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "price": 499
}
print("Book Dictionary:", book)

Book Dictionary: {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'price': 499}

In [ ]:
print("Book Title:", book["title"])

Book Title: The Great Gatsby

In [ ]:
book["published_year"] = 1925
print("After Adding Published Year:", book)

After Adding Published Year: {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'price': 499, 'published_year': 1925}

In [ ]:
book["price"] = 399
print("After Updating Price:", book)

After Updating Price: {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'price': 399, 'published_year': 1925}

In [ ]:
del book["author"]
print("After Removing Author (using del):", book)

After Removing Author (using del): {'title': 'The Great Gatsby', 'price': 399, 'published_year': 1925}

In [ ]:
book.pop("published_year")
print("After Removing Published Year (using pop):", book)

After Removing Published Year (using pop): {'title': 'The Great Gatsby', 'price': 399}

In [ ]:
if "title" in book:
    print("Key 'title' exists in the book dictionary.")
else:
    print("Key 'title' does not exist.")

Key 'title' exists in the book dictionary.

In [ ]:
students = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92
}
print("Student Names:", students.keys())

Student Names: dict_keys(['Alice', 'Bob', 'Charlie'])

In [ ]:
print("Student Marks:", students.values())

Student Marks: dict_values([85, 78, 92])

In [ ]:
extra_students = {
    "David": 88,
    "Eve": 91
}
students.update(extra_students)
print("Merged Student Dictionary:", students)

Merged Student Dictionary: {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 88, 'Eve': 91}

In [ ]:
print("All Student Marks:")
for name, mark in students.items():
    print(name, ":", mark)

All Student Marks:
Alice : 85
Bob : 78
Charlie : 92
David : 88
Eve : 91