In [ ]:
input_str = "dictionary"
char_freq = {}
for char in input_str:
    char_freq[char] = char_freq.get(char, 0) + 1
print("Character Frequency:", char_freq)

Character Frequency: {'d': 1, 'i': 2, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'y': 1}

In [ ]:
cities = {
    "Delhi": 19000000,
    "Mumbai": 20400000,
    "Bangalore": 12000000,
    "Chennai": 11000000,
    "Kolkata": 14900000
}
max_city = max(cities, key=cities.get)
print("City with Maximum Population:", max_city, "->", cities[max_city])

City with Maximum Population: Mumbai -> 20400000

In [ ]:
students = {
    "Amal": 88,
    "Anand": 92,
    "Rahul": 79,
    "Devadarshan": 95
}
top_student = max(students, key=students.get)
print("Top Student:", top_student, "->", students[top_student])

Top Student: Devadarshan -> 95

In [ ]:
sorted_by_keys = dict(sorted(students.items()))
print("Dictionary Sorted by Keys:", sorted_by_keys)

Dictionary Sorted by Keys: {'Amal': 88, 'Anand': 92, 'Devadarshan': 95, 'Rahul': 79}

In [ ]:
sorted_by_values = dict(sorted(students.items(), key=lambda item: item[1]))
print("Dictionary Sorted by Values:", sorted_by_values)

Dictionary Sorted by Values: {'Rahul': 79, 'Amal': 88, 'Anand': 92, 'Devadarshan': 95}

In [ ]:
squares = {x: x**2 for x in range(1, 6)}
print("Squares Dictionary:", squares)

Squares Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
keys = ["name", "age", "city"]
values = ["John", 25, "New York"]
combined_dict = dict(zip(keys, values))
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
favorites = {
    "Alice": "Blue",
    "Bob": "Green",
    "Charlie": "Blue",
    "David": "Red",
    "Eve": "Green"
}
unique_colors = {}
seen = set()
for name, color in favorites.items():
    if color not in seen:
        unique_colors[name] = color
        seen.add(color)
print("Unique Colors Dictionary:", unique_colors)

Unique Colors Dictionary: {'Alice': 'Blue', 'Bob': 'Green', 'David': 'Red'}

In [ ]:
def check_and_add_key(dictionary, key, default="default"):
    if key in dictionary:
        return "Key exists"
    else:
        dictionary[key] = default
        return "Key added with default value"

sample_dict = {"a": 1, "b": 2}
print(check_and_add_key(sample_dict, "b"))
print(check_and_add_key(sample_dict, "c"))
print("Updated Dictionary:", sample_dict)

Key exists
Key added with default value
Updated Dictionary: {'a': 1, 'b': 2, 'c': 'default'}

In [ ]:
people = {
    "Anil": 28,
    "Bhavna": 35,
    "Chetan": 42,
    "Disha": 25,
    "Eshan": 31
}
older_than_30 = [name for name, age in people.items() if age > 30]
print("People older than 30:", older_than_30)

People older than 30: ['Bhavna', 'Chetan', 'Eshan']