In [1]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [2]:
df = pd.read_csv("data.csv")
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [3]:
print(df.head(3))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
print(df.columns)

Index(['Name', 'Age', 'City'], dtype='object')

In [5]:
print(df[['Name', 'Age']])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [6]:
filtered_df = df[df['Age'] > 28]
print(filtered_df)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
df['Salary'] = [50000, 60000, 70000]
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [8]:
print("Average Age:", df['Age'].mean())

Average Age: 30.0

In [9]:
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age         City  Salary
2  Charlie   35      Chicago   70000
1      Bob   30  Los Angeles   60000
0    Alice   25     New York   50000

In [10]:
print("Unique Cities:", df['City'].nunique())

Unique Cities: 3