In [ ]:
t = (1, 2, 3)
print("Tuple:", t)

Tuple: (1, 2, 3)

In [ ]:
t = (1, "Hello", 3.14, True)
print("Mixed tuple:", t)

Mixed tuple: (1, 'Hello', 3.14, True)

In [ ]:
t = (10, 20, 30, 40)
print("One item:", t[2])

One item: 30

In [ ]:
t = ("apple", "banana", "cherry")
a, b, c = t
print(a, b, c)

apple banana cherry

In [ ]:
t = (1, 2, 3)
t = t + (4,)
print("Tuple after adding:", t)

Tuple after adding: (1, 2, 3, 4)

In [ ]:
t = ('H', 'e', 'l', 'l', 'o')
s = ''.join(t)
print("String:", s)

String: Hello

In [ ]:
t = (1, 2, 3, 4, 5, 6, 7, 8)
print("4th from last:", t[-4])

4th from last: 5

In [ ]:
t = (10, 20, 30)
clone = t[:]
print("Cloned tuple:", clone)

Cloned tuple: (10, 20, 30)

In [ ]:
t = (1, 2, 3, 2, 4, 1)
repeats = set([x for x in t if t.count(x) > 1])
print("Repeated items:", repeats)

Repeated items: {1, 2}

In [ ]:
t = (1, 2, 3, 4)
print("Is 3 in tuple?", 3 in t)

Is 3 in tuple? True

In [ ]:
lst = [1, 2, 3]
t = tuple(lst)
print("Tuple from list:", t)

Tuple from list: (1, 2, 3)

In [ ]:
t = (1, 2, 3, 4)
t = tuple(x for x in t if x != 3)
print("Tuple after removal:", t)

Tuple after removal: (1, 2, 4)

In [ ]:
t = (10, 20, 30, 40, 50)
print("Sliced tuple:", t[1:4])

Sliced tuple: (20, 30, 40)

In [ ]:
t = (5, 10, 15, 20)
print("Index of 15:", t.index(15))

Index of 15: 2

In [ ]:
t = (1, 2, 3)
print("Length:", len(t))

Length: 3

In [ ]:
t = (('a', 1), ('b', 2))
d = dict(t)
print("Dictionary:", d)

Dictionary: {'a': 1, 'b': 2}

In [ ]:
z = [(1, 'a'), (2, 'b'), (3, 'c')]
nums, chars = zip(*z)
print("Unzipped:", list(nums), list(chars))

Unzipped: [1, 2, 3] ['a', 'b', 'c']

In [ ]:
t = (1, 2, 3, 4)
print("Reversed:", t[::-1])

Reversed: (4, 3, 2, 1)

In [ ]:
lst_tuples = [('x', 10), ('y', 20)]
d = dict(lst_tuples)
print("Dictionary:", d)

Dictionary: {'x': 10, 'y': 20}

In [ ]:
t = (100, 200, 300)
print(f"This is a tuple {t}")

This is a tuple (100, 200, 300)